@font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
    font-display: swap;
}

html, head, body {
    font-family: 'Pretendard', sans-serif;
}
